body {
    /*font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(130deg, #c53939, #6000fb);
    background-size: 200% 200%;
}


/*Global Design */

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.container-shop {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


/*Header*/

header {
    background: #3F396B;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #F7D14F 5px solid;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    /*Top, Right, Bottom, Left*/
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #F7D14F;
    font-weight: bold;
}

header a:hover {
    color: #fdc200;
    font-weight: bold;
    transform: scale(1.05);
}

header button {
    color: #FFFFFF;
    font-size: 1px;
    background: none;
    border: none;
    pointer-events: visible;
}


/*Navigation Bar*/

header nav ul li a {
    display: inline-block;
    font-size: 18px;
    padding: 1px;
    text-decoration: none;
}

header nav ul li ul {
    display: none;
    position: absolute;
    z-index: 999;
    background: #27243f;
    border: solid 2px #fdc200;
    border-radius: 12px;
    float: center;
    padding: 10px;
    width: 10%;
}

header nav ul li:hover ul {
    transition: .10s;
    display: block;
}

header nav ul li ul a {
    padding: 8px 14px;
}


/*Footer*/

footer {
    padding: 20px;
    margin-top: 20px;
    color: #F7D14F;
    background-color: #3F396B;
    text-align: center;
    border-top: #F7D14F 5px solid;
}


/*About-Page*/

.profile-card {
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    left: 32%;
    top: 20%;
    padding: 50px;
}

.card-header {
    background: #3F396B;
    border: 5px solid #F7D14F;
    padding: 60px 20px;
    width: 30%;
}

.pic {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #9b39c5, #4534db);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}

.pic img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #fdc200;
}

.socialmedia {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.socialmedia a {
    color: white;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.socialmedia a:hover {
    color: #fdc200;
}

.contact-btn {
    display: inline-block;
    padding: 12px 50px;
    color: #F7D14F;
    border: 2px solid #F7D14F;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}

.contact-btn:hover {
    background: #F7D14F;
    color: black;
    font-weight: 600px;
}


/*Media-Queries*/


/*I-PAD*/

@media screen and (max-width: 1250px) {
    header #branding header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 90%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    .pricing-table {
        flex: 100%;
    }
    header nav ul li ul {
        display: none;
        position: absolute;
        z-index: 999;
        background: #27243f;
        border: solid 2px #fdc200;
        border-radius: 12px;
        float: right;
        padding: 5px;
        width: 100%;
    }
    header nav ul li:hover ul {
        transition: .10s;
        display: block;
    }
    .pic,
    .pic img {
        display: none;
        width: 100%;
    }
    .contact-btn {
        width: 30%;
    }
    footer {
        width: 100%;
        padding: auto;
        margin-top: auto;
        color: #F7D14F;
        background-color: #3F396B;
        text-align: center;
        border-top: #F7D14F 5px solid;
    }
}