* {
    font-family: "Montserrat", sans-serif;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #191919;
}

.page {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    height: 100vh;
    position: relative;
}

.time {
    color: white;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
}

.middle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 180%;
}

.time span {
    padding: 0 16px;
}

time span div {
    font-size: 80px;
}

.information {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
}

.information h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    float: center;
    display: inline;
    font-size: 180%;
}


/*Header*/

header {
    color: #F7D14F;
    text-align: center;
    border-top: #F7D14F 5px solid;
    width: 100%;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .col {
        flex: 100%;
    }
    .middle {
        font-size: 140%;
    }
    .information {
        width: 100%;
    }
    .information h1 {
        display: inline;
        font-size: 140%;
    }
    header {
        color: #F7D14F;
        text-align: center;
        border-top: #F7D14F 5px solid;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .col {
        flex: 100%;
    }
    .middle {
        font-size: 100%;
    }
    .information {
        width: 100%;
    }
    .information h1 {
        display: inline;
        font-size: 90%;
    }
}

@media screen and (max-width: 400px) {
    .col {
        flex: 100%;
    }
    .middle {
        font-size: 90%;
    }
    .information {
        width: 100%;
    }
    .information h1 {
        display: inline;
        font-size: 90%;
    }
    header {
        color: #F7D14F;
        text-align: center;
        border-top: #F7D14F 5px solid;
        width: 100%;
        font-size: 20px;
    }
}

@media screen and (max-width: 280px) {
    .col {
        flex: 100%;
    }
    .middle {
        font-size: 70%;
    }
    .information {
        width: 100%;
    }
    .information h1 {
        display: inline;
        font-size: 90%;
    }
    header {
        color: #F7D14F;
        text-align: center;
        border-top: #F7D14F 5px solid;
        width: 100%;
        font-size: 20px;
    }
}