* {
    font-family: "Montserrat", sans-serif;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #191919;
}

.page {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    height: 100vh;
    position: relative;
}

.time {
    color: white;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 180%;
}

.time span {
    padding: 0 14px;
}

time span div {
    font-size: 80px;
}

.information {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.information h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    float: center;
}

@media screen and (max-width: 900px) {
    .col {
        flex: 100%;
    }
}


/*Header*/

header {
    color: #F7D14F;
    text-align: center;
    border-top: #F7D14F 5px solid;
}