body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #191919;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box h4 {
    color: white;
    font-weight: 500;
}

.box a {
    color: white;
    font-weight: 1;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3F396B;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 220px;
    border-color: #5848cf;
}

.box button {
    /*border: 0;*/
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button:hover {
    background: #2ecc71;
}


/*Footer*/

footer {
    color: #F7D14F;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 3%;
    left: 50%;
    width: 100%;
    font-size: 20px;
}

@media screen and (max-width: 1250px) {
    .box {
        text-align: center;
        width: 100%;
        top: 50%;
    }
    .box h1,
    .box h4,
    .box a {
        width: 100%;
        font-size: 20px;
    }
    .box input[type="text"],
    .box input[type="email"],
    .box input[type="password"],
    .box input[type="text"]:hover,
    .box input[type="email"]:hover,
    .box input[type="password"]:hover,
    .box button,
    .box button:hover {
        width: 220px;
        text-align: center;
    }
}