body {
    /*font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}


/*Global Design */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container-shop {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


/*Services List*/

*ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 20px;
    background: #e6e6e6;
}


/*Pricing Tables*/

.pricing-table {
    background: white;
    flex: 1;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 20;
}

.pricing-header {
    color: #fff;
    position: relative;
    margin-bottom: 20px;
}

.price {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.price span {
    font-size: 30px;
}

.title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    max-width: 360px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
}

.pricing-list {
    padding: 10px 20px;
}

.pricing-list li {
    margin: 8px 0;
    font-size: 14px;
    color: #344;
    text-align: center;
}

.border {
    width: 80px;
    height: 1px;
    background: #ddd;
    margin: auto;
}

.pricing-table a {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    border: 1px solid;
    max-width: 360px;
    transition: .2s linear;
}

.pricing-table a:hover {
    transform: scale(1.2);
    border-radius: 30px;
}

.table1 .pricing-header {
    background: #3498db;
}

.table2 .pricing-header {
    background: #f39c12;
}

.table3 .pricing-header {
    background: #8e44ad;
}

.table1 .title {
    background-image: linear-gradient(125deg, #3498db, #3F396B);
}

.table2 .title {
    background-image: linear-gradient(125deg, #f39c12, #e74c3c);
}

.table3 .title {
    background-image: linear-gradient(125deg, #8e44ad, #5758BB);
}

.table1 a {
    color: #3498db;
}

.table2 a {
    color: #f39c12;
}

.table3 a {
    color: #8e44ad;
}

.table1 a:hover {
    background: #3498db;
    color: #fff;
}

.table2 a:hover {
    background: #f39c12;
    color: #fff;
}

.table3 a:hover {
    background: #8e44ad;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.submit_button {
    height: 36px;
    background: #F7D14F;
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFFFF;
}


/*icons*/

#icons {
    margin-top: 20px;
}

#icons .box {
    float: left;
    width: 30%;
    text-align: center;
    padding: 20px;
    color: white;
}

#icons .box:hover {
    border: none;
    transition: .2s;
    transform: scale(1.15);
    color: black;
}


/*Header*/

header {
    background: #3F396B;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #F7D14F 5px solid;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    /*Top, Right, Bottom, Left*/
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #F7D14F;
    font-weight: bold;
}

header a:hover {
    color: #fdc200;
    font-weight: bold;
    transform: scale(1.05);
}

header button {
    color: #FFFFFF;
    font-size: 1px;
    background: none;
    border: none;
    pointer-events: visible;
}


/*Navigation Bar*/

header nav ul li a {
    display: inline-block;
    font-size: 18px;
    padding: 1px;
    text-decoration: none;
}

header nav ul li ul {
    display: none;
    position: absolute;
    z-index: 999;
    background: #27243f;
    border: solid 2px #fdc200;
    border-radius: 12px;
    float: right;
    padding: 10px;
    width: 260px;
}

header nav ul li:hover ul {
    transition: .10s;
    display: block;
}

header nav ul li ul a {
    padding: 8px 14px;
}


/*ShowCase*/

#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0px -400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

#showcase:hover {
    transition: -webkit-filter.10s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}

#showcase h1 {
    font-size: 40px;
    color: #FFFFFF;
}

#showcase p {
    font-size: 20px;
    color: #FFFFFF;
}

#subrequest {
    color: #FFFFFF;
    font-size: 180%;
    text-align: center;
    background: #3F396B;
    text-transform: uppercase;
}


/*Footer*/

footer {
    padding: 20px;
    margin-top: 20px;
    color: #F7D14F;
    background-color: #3F396B;
    text-align: center;
    border-top: #F7D14F 5px solid;
}


/*About-Page*/

.CommingSoon {
    color: black;
    font-size: 200%;
    text-align: center;
}


/*Media-Queries*/


/*I-PAD*/

@media screen and (max-width: 1250px) {
    header #branding header nav,
    header nav li,
    #subrequest h1,
    #subrequest form,
    #icons .box,
    aside#sidebar-about,
    aside#sidebar-about .submit_button,
    .box_right {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #subrequest button,
    .help button {
        display: block;
        width: 100%;
    }
    #subrequest form input[type="email"],
    .help input,
    .help textarea {
        width: 100%;
        margin-bottom: 5px;
    }
    .pricing-table {
        flex: 100%;
    }
    .box_right {
        flex: 100%;
    }
    header nav ul li ul {
        display: none;
        position: absolute;
        z-index: 999;
        background: #27243f;
        border: solid 2px #fdc200;
        border-radius: 12px;
        float: right;
        padding: 5px;
        width: 220px;
    }
    header nav ul li:hover ul {
        transition: .10s;
        display: block;
    }
}