body {
    /*font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}


/*Global Design */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.submit_button {
    height: 36px;
    background: #F7D14F;
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFFFF;
}


/*Right - Box*/

.box_right {
    padding: 20px;
    background: #3F396B;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


/*icons*/

#icons {
    margin-top: 20px;
}

#icons .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}


/*Sidebar*/

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .help input,
aside#sidebar .help textarea {
    width: 90%;
    padding: 10px;
}


/*Main-col*/

article#main-col {
    float: left;
    width: 65%;
}


/*Services List*/

ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 20px;
    background: #e6e6e6;
}


/*Header*/

header {
    background: #3F396B;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #F7D14F 5px solid;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    /*Top, Right, Bottom, Left*/
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #F7D14F;
    font-weight: bold;
}

header a:hover {
    color: #fdc200;
    font-weight: bold;
}


/*ShowCase*/

#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0px -400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

#showcase:hover {
    transition: filter .10s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}

#showcase h1 {
    font-size: 40px;
    color: #FFFFFF;
}

#showcase p {
    font-size: 20px;
    color: #FFFFFF;
}


/*Submit-Request*/

#subrequest {
    padding: 30px;
    color: #FFFFFF;
    background: #3F396B;
    flex-direction: column;
}

#subrequest h1 {
    float: left;
}

#subrequest form {
    float: right;
    margin-top: 20px;
}

#subrequest input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

textarea {
    resize: none;
}


/*Footer*/

footer {
    padding: 20px;
    margin-top: 20px;
    color: #F7D14F;
    background-color: #3F396B;
    text-align: center;
    border-top: #F7D14F 5px solid;
}


/*Media-Queries*/


/*I-PAD*/

@media(max-width: 768px) {
    header #branding header nav,
    header nav li,
    #subrequest h1,
    #subrequest form,
    #icons .box,
    article#main-col,
    aside#sidebar,
    aside#sidebar .submit_button {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #subrequest button,
    .help button {
        display: block;
        width: 100%;
    }
    #subrequest form input[type="email"],
    .help input,
    .help textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}